body {
    font-family: times;
}

#heading {
    height: 175px;
    background-image: url("../img/pattern.png");
    background-color: dodgerblue;
}

.bg-logo {
    height: 50%;
}

.greytext {
    color: grey;
}

.link {
    text-decoration: none;
    color: deepskyblue;
}

.smalltext {
    font-size: x-small;
}

span {
    background-color: yellow;
}

p {
    text-align: justify;
}

table {
    width: 100%;
    text-align: left;
}

.mezza {
    width: 50%;
}

.mezzadimezza {
    width: 25%;
}

thead {
    color: white;
    background-color: deepskyblue;
}

.bg-blue {
    background-color: powderblue;
}

.footer-pic {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: times;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 15px;
}

#monitor {
    background-image: url("../img/monitor.jpg");
}

#graph {
    background-image: url("../img/graph.jpg");
}

.consigliati {
    color: white;
    text-decoration: none;
}